::-webkit-scrollbar {
    width: $s-scrollbar-width;
    margin: .1rem 0;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: $o-scrollbar-boxshadow;
	border-radius: $s-scrollbar-width;
	background-color: $c-scrollbar-track;
}
::-webkit-scrollbar-thumb
{
	border-radius: $s-scrollbar-width;
	-webkit-box-shadow: $o-scrollbar-boxshadow;
	background-color: $c-scrollbar-thumb;
}

body {
    font-family: $f-default;
    background-color: #aaa;
}

pre {
    tab-size: 1rem;
    overflow: hidden;
}